a {
  text-decoration: none;
  color: #522952;
}

td {
  width: 25rem;
}

.details-modal-button {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  height: 2.5rem;
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  background-color: #FD7F32;
  border: 1px solid #FD7F32;
  border-radius: 7px;
  color: #522952;
}

.details-modal-button:hover {
  background-color: #ff7621;
}

.details-modal-button:active {
  transform:scale(0.97);
}

.section-header {
  width: 99%;
  border-bottom: 2px solid #884488;
  line-height: 0.1em;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.section-header span {
  background: #F4E8F4;
  padding-left: 1.5rem;
  padding-right: 1rem;
  letter-spacing: .1rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #884488;
  border-right: none;
}

#closeBtn {
  position: absolute;
  right: 1rem;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

#details-modal {
  background-color: #F4E8F4;
  color: #522952;
  font-family: 'League Spartan', sans-serif;
  font-size: 1.3rem;
}

#rating-notes {
  margin-left: 2rem;
  width: 95%;
  height: 5rem;
  border: 1px solid #884488;
}

#restaurant-name {
  position:relative;
  font-family: 'Fredoka One', cursive;
  letter-spacing: .3rem;
  text-align: center;
  font-size: 2.5rem;
}

#last-edited-date {
  font-weight: 300;
  letter-spacing: 0rem;
  font-size: 1rem;
  padding-left: 0.5rem;
}

#more-info{
  cursor:pointer;
  border-right: unset
}
#more-info:hover{
  color:#353535
}
#more-info:active{
  transform:scale(0.97);
  border-right: none
}