body {
  background-color: #FCF9E8;
}
.listview {
  margin: 10px;
  font-size: 1em;
}
.preview {
  padding: 3px;
  margin: 5px;
  background-color: #f3ebff;
  border: 3px solid #aa8cd7;
  border-radius: 10px;
}
.item {
  padding: 3px 6px 3px 6px;
  color: #474747;
  font-family: 'Fredoka One', cursive;
  display: inline-block;
  text-align: center;
  /* border-left: 1px solid black; */
  border-right: 1px solid black;
}

.collectionTitle {
  padding: 10px;
  margin: 10px;
  font: 3em;
  color: #474747;
  text-align:center;
  font-family: 'Fredoka One', cursive;
  /* border: 5px solid #aa8cd7; */
}

.previewButton {
  border: none;
  background-color: #f3ebff;
  color: #474747;
  font-size: 1em;
  font-family: 'Fredoka One', cursive;
}

#name {
  width: 150px;
}

#stars {
  width: 30px;
}

#cuisine{
  width: 100px;
}

#hours{
  width: 200px;
}