.login, .signup {
  font-family: 'Fredoka One', cursive;
  color: #474747;
  position: absolute;
  text-align: center;
  padding: 50px;
  border: 5px solid #FD7F32;
  background-color:#EAD9EB;
  border-radius: 10px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.submit {
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px;
  color: #474747;
  font-family: 'Fredoka One', cursive;
  background-color: #FCF9E8;
  border: 3px solid #aa8cd7;
}

.submit:hover {
  transform: scale(1.01);
  filter: brightness(97%);
}

.signupButton {
  font-size: 0.5em;
}