
.login, .signup {
  font-family: 'Fredoka One', cursive;
  color: #474747;
  position: absolute;
  text-align: center;
  padding: 50px;
  border: 5px solid #ff6978;
  background-color:#b1ede8;
  border-radius: 10px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.submit {
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px;
  color: #474747;
  font-family: 'Fredoka One', cursive;
  border: 5px solid #ff6978;
  background-color:#fffcf9;
}

.submit:hover {
  transform: scale(1.01);
  filter: brightness(97%);
}

.signupButton {
  font-size: 0.8em;
}