#main-nav {
  margin-top:200px;
  grid-column-start: 2;
  display: flex;
  gap: 5vw;
  justify-content: center;
  padding-top: 7rem;
}

#main-nav-reviews {
  background-color: #fffcf9;
  border: 1px solid hsl(354, 95%, 84%);
  cursor: pointer;
}

#main-nav-wishlist {
  background-color: #c18ba8;
  border: 1px solid #6D435A;
  cursor: pointer;
}

#main-nav-favorites {
  background-color: #fda7af;
  border: 1px solid #ff6978;
  cursor: pointer;
}

.main-nav-btn {
  width: 25vw;
  height: 16rem;
  font-size: 2.5rem;
  border-radius: 10px;
  color: #474747;
  line-height: 4.5rem;
  box-shadow: 1px 1px 10px rgba(67, 67, 67, 0.2);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  font-family: 'Fredoka One', cursive;
  letter-spacing: .3rem;
  cursor: pointer;
}

.main-nav-btn:hover {
  transform: scale(1.01);
  filter: brightness(97%);
}

.main-nav-btn:active {
  transform: scale(0.97);
}

.main-nav-icon {
  font-size: 5rem;
}