body {
  background-color: #FFFCF9;
}

.favorites {
  padding: 3px;
  margin: 5px;
  background-color: #bd96ac;
  border: 2px solid #6d435a;
  border-radius: 10px;
  width: 600px;
}

.favItem {
  padding: 3px 6px 3px 6px;
  color: #352D39;
  font-family: 'Vazirmatn', sans-serif;
  display: inline-block;
  text-align: center;
  /* border-left: 1px solid black; */
}

#name {
  width: 250px;
}

#stars {
  width: 40px;
}

#cuisine{
  width: 200px;
}


.profile-page {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-background{
    border: 3px solid #94eae3;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 50vw;
    padding: 50px 50px;
    background: #b1ede8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-picture{
    border: 1px solid #352D39;
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    align-items: center;
    background-size: 100% 100%; 
    border-radius: 100%;
}

    /* object-fit: cover;
    background-size: 100%;
    border-radius: 100%;
    */

.profile-pic-submit{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px ;
    margin-bottom: 50px ;
}

.profile-pic-submit input{
    text-align:center;
    border: 0.1rem #352D39;
    height: 1.7vh;
    border-radius: 10px;
    margin-right: 5px;
    width: 10vw;
}

#bio {
  width: 400px;
  height: 100px;
  max-height: auto;
  resize: none;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Vazirmatn', sans-serif;
}

.profile-pic-submit button {
  height: 1.5rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 0.7rem;
  background-color: #FF6978;
  border: 1px solid #6D435A;
  border-radius: 7px;
  color: #352D39;
}

.profile-pic-submit button:hover {
  filter: brightness(95%);
}

.profile-pic-submit button:active {
  transform: scale(0.97);
}

#bio-submit {
  height: 2rem;
  font-family: 'Vazirmatn', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  background-color: #FF6978;
  border: 3px solid #6D435A;
  border-radius: 7px;
  color: #352D39;
}

#bio-submit:hover{
  filter: brightness(95%);
}

#bio-submit:active {
  transform: scale(0.97);
}