#ratings-table {
  margin-left: 2rem;
  text-align: right;
}

#ratings-table span {
  border-right: none;
  padding: 0;
}

#ratings-table td {
  padding-top: 1rem;
}

td.rating-label {
  width: 5rem;
}

td.stars {
  text-align: left;
  padding-left: 1rem;
}