.restaurant-search-result {
  background-color: #fffcf9;
  border: 5px solid #b1ede8;
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.restaurant-search-result:hover {
  background-color: #e6d8fc;
}

.search-result-name {
  font-weight: 700;
  margin-bottom: 1rem;
}